[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
schedule = "*"
requests = {extras = ["security"], version = "*"}
sqlalchemy = "*"
pymysql = "*"
sqlalchemy-utils = "*"

[dev-packages]
ipython = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
